<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kendo UI</title>

    <!--蓝鲸平台APP 公用的样式文件 -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css?v=1.0.1" rel="stylesheet">
    <link href="${STATIC_URL}autocar/css/base.css" type="text/css" rel="stylesheet">
    <link href="${STATIC_URL}autocar/css/common.css" type="text/css" rel="stylesheet">
    <link href="${STATIC_URL}autocar/css/pages.css" type="text/css" rel="stylesheet">
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--MODULE_START-->
    <!-- 顶部logo nav start -->
    <div class="header">
        <div class="w_940">
            <div class="logo_wrap f_l">
                <a href="javascript:;" title="QQ游戏中心">logo标题</a>
            </div>
            <div class="nav_wrap f_r">
                <ul>
                    <li class="active"><a href="javascript:;">首页</a>
                    </li>
                    <li><a href="table1.html">数据查询</a>
                    </li>
                    <li><a href="table2.html">业务管理</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 顶部logo nav end -->

    <!-- 门户首页轮播图 start -->
    <div class="slide_wrap">
        <div class="w_940">
            <div class="slide_box">
                <div class="slide_box_inner">
                    <ul>
                        <li><img src="${STATIC_URL}autocar/images/banner_1.png" width="940" height="181" alt="" /></li>
                        <li><img src="${STATIC_URL}autocar/images/banner_2.png" width="940" height="181" alt="" /></li>
                        <li><img src="${STATIC_URL}autocar/images/banner_3.png" width="940" height="181" alt="" /></li>
                        <li><img src="${STATIC_URL}autocar/images/banner_2.png" width="940" height="181" alt="" /></li>
                    </ul>

                    <a href="javascript:;" id="btn_prev" class="btn_control btn_prev"></a>
                    <a href="javascript:;" id="btn_next" class="btn_control btn_next"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- 门户首页轮播图 end -->

    <!-- 主要特点 start -->
    <div class="feature_wrap clearfix">
        <div class="w_940">
        <div class="feature_wrap_h item_h">
            <h2 class="item_title">主要特点</h2>
        </div>
        <div class="feature_wrap_con">
            <ul>
                <li class="list_item">
                    <div class="list_thumb f_l">
                        <a href="javascript:;">
                            <img src="${STATIC_URL}autocar/images/fully-customizable-controls.png" title="" width="80" height="80" />
                        </a>
                    </div>
                    <div class="list_body f_r">
                        <h4><a href="javascript:;">运维中心</a></h4>
                        <p>运维中心的同学们看这里，看这里从这里进去可以找到你想要的东东这个图标是我随便放</p>
                    </div>
                </li>
                <li class="list_item">
                    <div class="list_thumb f_l">
                        <a href="javascript:;">
                            <img src="${STATIC_URL}autocar/images/sample-apps.png" title="" width="80" height="80" />
                        </a>
                    </div>
                    <div class="list_body f_r">
                        <h4><a href="javascript:;">运营中心</a></h4>
                        <p>运营中心的同学们看这里，看这里从这里进去可以找到你想要的东东这个图标是我随</p>
                    </div>
                </li>
                <li class="list_item mr_0">
                    <div class="list_thumb f_l">
                        <a href="javascript:;">
                            <img src="${STATIC_URL}autocar/images/ease-of-use.png" title="" width="80" height="80" />
                        </a>
                    </div>
                    <div class="list_body f_r">
                        <h4><a href="javascript:;">管理员</a></h4>
                        <p>管理员同学们看这里，看这里从这里进去可以找到你想要的东东这个图标是我随便放的</p>
                    </div>
                </li>
                <li class="list_item">
                    <div class="list_thumb f_l">
                        <a href="javascript:;">
                            <img src="${STATIC_URL}autocar/images/fully-customizable-controls.png" title="" width="80" height="80" />
                        </a>
                    </div>
                    <div class="list_body f_r">
                        <h4><a href="javascript:;">运维中心</a></h4>
                        <p>运维中心的同学们看这里，看这里从这里进去可以找到你想要的东东这个图标是我随便放</p>
                    </div>
                </li>
                <li class="list_item">
                    <div class="list_thumb f_l">
                        <a href="javascript:;">
                            <img src="${STATIC_URL}autocar/images/sample-apps.png" title="" width="80" height="80" />
                        </a>
                    </div>
                    <div class="list_body f_r">
                        <h4><a href="javascript:;">运营中心</a></h4>
                        <p>运营中心的同学们看这里，看这里从这里进去可以找到你想要的东东这个图标是我随</p>
                    </div>
                </li>
                <li class="list_item mr_0">
                    <div class="list_thumb f_l">
                        <a href="javascript:;">
                            <img src="${STATIC_URL}autocar/images/ease-of-use.png" title="" width="80" height="80" />
                        </a>
                    </div>
                    <div class="list_body f_r">
                        <h4><a href="javascript:;">管理员</a></h4>
                        <p>管理员同学们看这里，看这里从这里进去可以找到你想要的东东这个图标是我随便放的</p>
                    </div>
                </li>
            </ul>
        </div>
        </div>
    </div>
    <!-- 主要特点 end -->

    <!-- 更多功能 start -->
    <div class="feature_more_wrap pb_20">
        <div class="w_940">
        <div class="feature_more_wrap_h item_h">
            <h2 class="item_title">更多功能</h2>
        </div>
        <div class="feature_more_wrap_con">
            <p>蓝鲸既是一个开放式的开发平台，又是一个内容丰富的app市场，还是一个可自定义的工作台。蓝鲸为app开发者提供了完善的开发框架、调度引擎、各种组件和页面套件等，尽可能的降低app开发门槛和提升app开发效率，让“运维人员不再有被埋没的想法”——能够把自己的需求和好想法直接转化为App，让自己的工作服务化，并解放自己的生产力，进一步为业务提供更多更有价值的服务。</p>
        </div>
        </div>
    </div>
    <!-- 更多功能 end -->
<!--MODULE_JS_END-->
<!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
<script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
<script src="${STATIC_URL}autocar/js/pages/jquery.touchSlider.js"></script>
<script type="text/javascript">
$(function(){

    $(".slide_wrap").hover(function(){
        $("#btn_prev,#btn_next").fadeIn()
    },function(){
        $("#btn_prev,#btn_next").fadeOut()
    });

    $dragBln = false;

    $(".slide_box_inner").touchSlider({
        flexible : true,
        speed : 200,
        btn_prev : $("#btn_prev"),
        btn_next : $("#btn_next")
    });

    $(".slide_box_inner").bind("mousedown", function() {
        $dragBln = false;
    });

    $(".slide_box_inner").bind("dragstart", function() {
        $dragBln = true;
    });

    $(".slide_box_inner a").click(function(){
        if($dragBln) {
            return false;
        }
    });

    timer = setInterval(function(){
        $("#btn_next").click();
    }, 5000);

    $(".slide_box").hover(function(){
        clearInterval(timer);
    },function(){
        timer = setInterval(function(){
            $("#btn_next").click();
        },5000);
    });

    $(".slide_box_inner").bind("touchstart",function(){
        clearInterval(timer);
    }).bind("touchend", function(){
        timer = setInterval(function(){
            $("#btn_next").click();
        }, 5000);
    });

});
</script>
</body>
</html>
